body{
    background: url("https://www.pexels.com/photo/concrete-road-between-trees-1563356/");
}

header{
    display: flex;
    justify-content: space-between;
}

.login-buttons{
    background: blue;
    padding: 16px;
    color: white;
    min-width: 60px;
}

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}

.post-buttons{
    background: lightsalmon;
    padding: 8px;
    color: grey;
    min-width: 75px;
}