h3{
    color: blue
}
.box-model{
    padding: 16px 8px 4px 2px;
    /* padding: auto; */
    border-top: 18px solid lightgray;
    border: 18px;
    border-style: solid;
    border-color: lightgray;
    border-radius: 25px;
    border-bottom-left-radius: 50px;
    margin-top: 15px;
    background-color: lightgray;

}

.flex-example-row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 16px;
    background-color: lightcyan;

}

.box-one{
    padding: 16px;
    width: 25%;
    background-color: lightcoral
}

.box-two{
    padding: 16px;
    width: 25%;
    background-color: lightgreen;
}

.box-three{
    padding: 16px;
    width: 25%;
    background-color: lightblue;
}

.flex-example-column{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lightslategray;
    height: 200px;
    margin-top: 50px;
}

.input-example {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.styled-input{
    font-size: 18px;
    line-height: 24px;
    height: 24px;
}